# Thanks to: https://gist.github.com/jdbartlett/444295

# Ignore everything in the root except the "wp-content" directory, plugins outline and favicons.
/*
!.gitignore
!wp-content/
!plugins.txt
!android-chrome-36x36.png
!android-chrome-48x48.png
!android-chrome-72x72.png
!android-chrome-96x96.png
!android-chrome-144x144.png
!android-chrome-192x192.png
!apple-touch-icon-57x57.png
!apple-touch-icon-60x60.png
!apple-touch-icon-72x72.png
!apple-touch-icon-76x76.png
!apple-touch-icon-114x114.png
!apple-touch-icon-120x120.png
!apple-touch-icon-144x144.png
!apple-touch-icon-152x152.png
!apple-touch-icon-180x180.png
!apple-touch-icon-precomposed.png
!apple-touch-icon.png
!browserconfig.xml
!favicon-16x16.png
!favicon-32x32.png
!favicon-96x96.png
!favicon-194x194.png
!favicon.ico
!manifest.json
!mstile-70x70.png
!mstile-144x144.png
!mstile-150x150.png
!mstile-310x150.png
!mstile-310x310.png
!safari-pinned-tab.svg
!ANN-MarketoRestApi.php
**/.sass-cache/*

# Ignore everything in the "wp-content" directory, except the "plugins" and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/
 
# Ignore everything in the "plugins" directory, except the plugins you specify
wp-content/plugins/*
!wp-content/plugins/sumiao-events/

 
# Ignore everything in the "themes" directory, except the themes you specify
wp-content/themes/*
!wp-content/themes/sumiao/