p, li, dt, dd {
	font-size: 1.5vw;
	font-weight: 400;
	line-height: 2.35vw;
	color: black;
	@media screen and (max-width: $mobile-break) {
		font-size: 2.5vw;
	}
	@media screen and (min-width: $larger-break) {
		font-size: 18px;
		line-height: 28px;
	}
	@media screen and (max-width: $mobile-break) {
		font-size: 14px;
		line-height: 24px;
	}
	.green-bg & {
		color: white;
	}
}
h1 {
	font-size: 4vw;
	font-family: $main-font;
	font-weight: 900;
	@media screen and (max-width: $mobile-break) {
		font-size: 6.56vw;
	}
	@media screen and (min-width: $larger-break) {
		font-size: 54x;
	}
	@media screen and (max-width: $mobile-break) {
		font-size: 28px;
		line-height: 32px;
	}
}
h2 {
	font-size: 3.5vw;
	@media screen and (max-width: $mobile-break) {
		font-size: 5.74vw;
	}
	@media screen and (min-width: $larger-break) {
		font-size: 48px;
	}
}
h3 {
	font-size: 2.8vw;
	@media screen and (max-width: $mobile-break) {
		font-size: 4.6vw;
	}
	@media screen and (min-width: $larger-break) {
		font-size: 30px;
	}
}
h4 {
	font-size: 2.5vw;
	@media screen and (max-width: $mobile-break) {
		font-size: 4.1vw;
	}
	@media screen and (min-width: $larger-break) {
		font-size: 25px;
	}
}
h5 {
	font-size: 2.1vw;
	@media screen and (max-width: $mobile-break) {
		font-size: 3.44vw;
	}
	@media screen and (min-width: $larger-break) {
		font-size: 22.5px;
	}
}
h6 {
	font-size: 1.9vw;
	@media screen and (max-width: $mobile-break) {
		font-size: 3.11vw;
	}
	@media screen and (min-width: $larger-break) {
		font-size: 20px;
	}
}
ul, dl {
	.cont-extra & {
		margin-left: 0;
	}
}
