p, li, dt, dd, div {
	font-size: 19px;
	font-weight: 400;
	line-height: 33px;
	color: black;
	font-family: $second-font;
	@media screen and (max-width: $mobile-break) {
		font-size: 16px;
		line-height: 30px;
	}
}
h1,h2,h3,h4,h5,h6 {
	font-family: $main-font;
	color: $m-head-color;
	font-weight: 400;
}
h1 {
	font-size: 4vw;
	font-family: $main-font;
	font-weight: 900;
	@media screen and (max-width: $mobile-break) {
		font-size: 6.56vw;
	}
	@media screen and (min-width: $larger-break) {
		font-size: 54x;
	}
	@media screen and (max-width: $mobile-break) {
		font-size: 28px;
		line-height: 32px;
	}
}
h2 {
	font-size: 3.5vw;
	@media screen and (max-width: $mobile-break) {
		font-size: 5.74vw;
	}
	@media screen and (min-width: $larger-break) {
		font-size: 48px;
	}
}
h3 {
	font-size: 30px;
	line-height: 36px;
}
h4 {
	font-size: 2.5vw;
	@media screen and (max-width: $mobile-break) {
		font-size: 4.1vw;
	}
	@media screen and (min-width: $larger-break) {
		font-size: 25px;
	}
}
h5 {
	font-size: 2.1vw;
	@media screen and (max-width: $mobile-break) {
		font-size: 3.44vw;
	}
	@media screen and (min-width: $larger-break) {
		font-size: 22.5px;
	}
}
h6 {
	font-size: 1.9vw;
	@media screen and (max-width: $mobile-break) {
		font-size: 3.11vw;
	}
	@media screen and (min-width: $larger-break) {
		font-size: 20px;
	}
}
ul, dl {
	.cont-extra & {
		margin-left: 0;
	}
}
