.entry-header {
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	display:block;
	height:0;
	padding:0 0 65.66%;
	position:relative;
	width:100%;
	@media screen and (max-width: $small-break) {
		padding: 0 0 180.18%;
	}
	address {
		color: white;
		font-style: normal;
		font-family: $third-font;
		margin: 4vw 0 4vw;
		opacity: 0;
		letter-spacing: 5px;
		font-size: 14px;
		-moz-transform: translateY(-50px);
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
		@media screen and (max-width: $mobile-break) {
			font-size: 10px;
			line-height: 15px;
			letter-spacing: 3px;
			margin: 3vw 0 4vw;
		}
	}
}
.social-links {
	padding: 0;
	margin: 0;
	opacity: 0;
	-moz-transform: translateY(-50px);
	-webkit-transform: translateY(-50px);
	transform: translateY(-50px);
	li {
		color: white;
		display: inline-block;
		margin: 0 20px;
		a {
			border: 2px solid #00ceb3;
			border-radius: 100%;
			font-size: 0;
			width: 40px;
			height: 40px;
			line-height: 40px;
			display: inline-block;
			color: white;
			text-decoration: none;
			font-family: "socicon";
			@media screen and (max-width: $mobile-break) {
				width: 30px;
				height: 30px;
				line-height: 30px;
			}
			&:hover {
				background: white;
				border: 2px solid white;
				&:before {
					color: #00ceb3;
				}
			}
		}
	}
	[class^="socicon-"]:before, [class*=" socicon-"]:before {
		font-size: 19px;
		line-height: 40px;
		display: inline-block;
		@media screen and (max-width: $mobile-break) {
			line-height: 31px;
		}
	}
}
.title-container {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -55%));
	text-align:center;
	margin: 0 auto;
	z-index:10;
	width: 100%;
	@media screen and (max-width: $mobile-break) {
		@include transform(translate(-50%, -50%));
	}
		h1,
		h2 {
			color:#fff;
			font-size:1.95vw;
			font-weight:200;
			letter-spacing:6px;
			line-height:100%;
			margin: 0;
			text-transform:uppercase;
			@media screen and (min-width: $larger-break) {
				font-size: 22px;
				margin: 15px 0;
			}
		}
		h1 a {
			display: block;
			background:url('../_img/sumiao-logo.svg') center center / 100%;
			width: 495px;
			height: 0;
			opacity: 0;
			-moz-transform: translateY(-150px);
			-webkit-transform: translateY(-150px);
			transform: translateY(-150px);
			padding-bottom: 285px;
			text-indent: -10000px;
			margin: 0 auto;
			@media screen and (min-width: $small-break + 1px) and (max-width: $mobile-break) {
				width: 52%;
				padding-bottom: 31%;
			}
			@media screen and (max-width: $small-break) {
				width: 65%;
				padding-bottom: 39%;
			}
		}
		h2 {
			@media screen and (max-width: $mobile-break) {
				letter-spacing: .65vw;
				font-weight: 400;
				font-size: 2.5vw;
			}
		}
}