.entry-header {
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	display:block;
	height:auto;
	padding:0;
	position:relative;
	width:100%;
	address {
		color: white;
		font-style: normal;
		font-family: $third-font;
		margin: 4vw 0 6vw;
		opacity: 0;
		letter-spacing: 4px;
		font-size: 15px;
		-moz-transform: translateY(-50px);
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
		@media screen and (max-width: $mobile-break) {
			font-size: 11px;
			letter-spacing: 2px;
		}
	}
}
.social-links {
	padding: 0;
	margin: 0;
	opacity: 0;
	-moz-transform: translateY(-50px);
	-webkit-transform: translateY(-50px);
	transform: translateY(-50px);
	li {
		color: white;
		display: inline-block;
		margin: 0 20px;
		a {
			border: 2px solid #00ceb3;
			border-radius: 100%;
			font-size: 0;
			width: 40px;
			height: 40px;
			line-height: 40px;
			display: inline-block;
			color: white;
			text-decoration: none;
			font-family: "socicon";
			&:hover {
				background: white;
				border: 2px solid white;
				&:before {
					color: #00ceb3;
				}
			}
		}
	}
	[class^="socicon-"]:before, [class*=" socicon-"]:before {
		font-size: 19px;
		line-height: 40px;
		display: inline-block;
	}
}
.title-container {
	display:block;
	position: relative;
	text-align:center;
	padding: 10.75vw 0 10.75vw;
	margin: 0 auto;
	z-index:10;
	@media screen and (min-width: $small-break + 1px) and (max-width: $mobile-break) {
		padding: 35vw 0;
	}
	@media screen and (max-width: $small-break) {
		padding: 56vw 0;
	}
		h1,
		h2 {
			color:#fff;
			font-size:1.95vw;
			font-weight:200;
			letter-spacing:6px;
			line-height:100%;
			margin: 0;
			text-transform:uppercase;
			@media screen and (min-width: $larger-break) {
				font-size: 22px;
				margin: 15px 0;
			}
		}
		h1 a {
			display: block;
			background:url('../_img/sumiao-logo.svg') center center / 100%;
			width: 525px;
			height: 0;
			opacity: 0;
			-moz-transform: translateY(-150px);
			-webkit-transform: translateY(-150px);
			transform: translateY(-150px);
			padding-bottom: 300px;
			text-indent: -10000px;
			margin: 0 auto;
			@media screen and (max-width: $small-break) {
				width: 285px;
				padding-bottom: 162.85px;
			}
		}
		h2 {
			@media screen and (max-width: $mobile-break) {
				letter-spacing: .65vw;
				font-weight: 400;
				font-size: 2.5vw;
			}
		}
}