//fonts 
$main-font: "lato",sans-serif;
$second-font: $main-font;

$micro-break: 400px;
$small-break: 600px;
$mobile-break: 780px;
$large-break: 1000px;
$larger-break: 1200px;
$x-large-break: 1400px;
$xx-large-break: 1600px;

// colors 
$green : #1fb189;
$green-dark : #129571;
$grey : #2c3e46;
$grey-dark : #1a2b33;
$bg-color : #f6f7ed;
$border-color : $green;
$red-color : #590d0d;
$blue : #2c3e46;
$cool-blue-dark : #bcdde2;
$cool-blue: #d0e8ec;
$cream : #ededed;
$cream-light : #eeeeee;
$blue-high : #4b848e;
$mint-blue : #65c6d8;

// fonts
$main-font : 'Lato', sans-serif;

// font-sizes
$default-size: 1vw;