
.intro.panel-row-style {
	padding:7.5%;
	text-align:center;
	p {
		color:#000;
		line-height:155%;
		 margin:0 auto 40px;
	}
	@media screen and (min-width: $larger-break) {
		max-width: 1400px;
		margin: 0 auto;
	}
}
.special-img-stack {
	position: relative;
	.sow-image-container {
		padding: 2vw;
	}
	.center {
		@media screen and (min-width: $small-break + 1px) {
			position: absolute;
			top: 50%;
			@include transform(translateY(-50%));
		}
	}
}
.row-images {
	.panel-grid-cell {
		@media screen and (max-width: $mobile-break) {
			width: 50% !important;
			float: left !important;
		}
		.so-widget-image {
			margin: 0 auto;
		}
		&:nth-of-type(odd) {
			@media screen and (max-width: $mobile-break) {
				clear: left;
			}
		}
	}
}
.watermark {
	padding: 10vw 7vw;
	background: #3fc3b2 url("../_img/watercolor-sumiaos-animation-v6.png") no-repeat 0 0 / 14448px;;
}
.col-text-img {
	background-size: contain;
	background-position: top right;
	background-repeat: no-repeat !important;
	@media screen and (min-width: $larger-break) {
		background-size: 50%;
	}
	.panel-grid-cell {
		width: 50%;
		background-color: #d0e8ec;
	}
}
.resource-library.panel-row-style {
	position: relative;
	background: $green;
	p {
		color:#fff;
		line-height:155%;
		margin:0 auto 2.2vw;
		max-width:480px;
	}
	.so-panel {
		position: relative;
		z-index: 1;
	}
	.panel-grid-cell {
		@media screen and (max-width: $small-break) {
			position: relative;
		}
		&:before {
			content: "";
			position: absolute;
			width: 50%;
			height: 100%;
			top: 0;
			left: 0;
			display: block;
			@include background-image(linear-gradient(145deg, $green-dark 0%, $green-dark 20%, rgba($green, 0) 65%));
			@media screen and (max-width: $small-break) {
				width: 100%;
			}
		}
		&:first-child:last-child {
			&:before {
				width: 100%;
			}
		}
		&:nth-of-type(odd) {
			&:before {
				right: 0;
				left: auto;
			}
		}
	}
	.panel-grid-cell:first-child {
		padding:90px 20px 40px;
		text-align:center;
		@media screen and (max-width:959px){
			padding-top:60px;
		}
	}
	.panel-grid-cell:last-child {
		padding:30px 20px 50px;
		p {text-align:center; }
		ul {
			box-shadow:0 30px 30px -23px rgba(17, 18, 20, .45);
			list-style:none;
			margin:0 auto;
			padding:0;
			width:80%;
			@media screen and (max-width:600px){margin-top:30px; width:100%; }
			li {
				list-style:none;
				margin:0;
				padding:0;
				a {background:url('../_img/arrow-right.png') 95% center / 21px no-repeat;
				border:2px solid #fff;
				border-bottom:none;
				color:#fff;
				display:block;
				font-size:13px;
				font-weight:900;
				letter-spacing:2px;
				line-height:100%;
				padding:24px 15% 23px 25px;
				text-decoration:none;
				text-transform:uppercase;
					&:hover,
					&:active {
						background-color:#29c399; 
						background-position:97% center; 
					}
				}

				&:last-child {
					a {
						border-bottom:2px solid #fff;
					}
				}
			}
		}
	}
	&.full {margin-bottom:20px; 
		@media screen and (max-width: $mobile-break) {
			margin-bottom: 0;
		}
		p {max-width:920px; }
		.panel-grid-cell:last-child {padding:90px 20px 100px;
			@media screen and (max-width:960px){padding:40px 20px; }
			ul {
				li {
					a {font-weight:normal; letter-spacing:.5px; text-align:left; text-transform:none; 
						strong {display:block; font-weight:900; letter-spacing:2px; margin:0 0 0px; text-transform:uppercase; }
					}
				}
			}
		}
	}
}

.image-break.panel-row-style {margin-bottom:20px; 
	@media screen and (max-width: $mobile-break) {
		margin-bottom: 0;
	}
}

.leadership-cta.panel-row-style {position:relative; @include background-image(linear-gradient(130deg, #661011 0%, #770d0e 90%)); margin-top:20px; 
	@media screen and (max-width: $mobile-break) { margin-top: 0;}
	.panel-grid-cell:first-child, &.leadership-cta-alt .panel-grid-cell:last-child {padding:5%; text-align:center; 
			@media screen and (max-width:600px){position:relative; z-index:10; }
			h3 {
				color:#fff;
				font-size:30px;
				line-height:120%;
				letter-spacing:4px;
				margin:0 auto 26px;
				max-width:500px;
				padding:0 0 26px;
				position:relative;
				@media screen and (max-width: $mobile-break) {
					margin-top: 40px;
					font-size: 22px;
					line-height: 135%;
					letter-spacing: 6px;
					margin-bottom: 25px;
				}
			&:before {
				content: "";
				display: block;
				position: absolute;
				bottom: 0;
				left: 50%;
				@include transform(translateX(-50%));
				@include background-image(linear-gradient(to right, #ffffff 40%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 60%, #ffffff 60%));
				height: 1px;
				width: 45%;
			}
			&:after {
					background: url('../_img/diamond.svg') no-repeat top left;
					background-size: 100%;
					content:"";
					display: block;
					left: 50%;
					@include transform(translateX(-50%));
					bottom: -10px;
					position: absolute;
					width: 20px;
					height: 20px;
			}
		}
		p {color:#fff; }
	}
	.credit.panel-widget-style {background-position:center 20%; background-repeat:no-repeat !important; background-size:456px; bottom:0; left:50%; position:absolute; right:0; top:0; 
		@media screen and (max-width:600px){background-size:contain; bottom:auto; height:0; left:auto; margin-top:-70%; padding:0 0 100%; position:relative; right:auto; top:auto; width:100%; }
		.textwidget {bottom:48px; color:#fff; display:block; position:absolute; right:48px; 
			p {border-left:3px solid #d83c3c; color:#fff; font-size:17px; line-height:140%; margin:0; padding:0 0 0 12px; }
		}
	}
	&.leadership-cta-alt {
		.credit.panel-widget-style {
			left: auto;
			right: inherit;
			left: 0;
			width: 35%;
			.textwidget {
				left: 48px;
				right: inherit;
				p {
					border-left: 3px solid #fff;
				}
			}
		}
	}
}

.graph-callout.panel-row-style {padding:7.5%;
	p {	
		font-size:3vw;
		font-weight:200;
		line-height:148%;
		margin-top:0; 
		@media screen and (min-width: $large-break) {
			font-size: 36px;
		}
		@media screen and (min-width: $micro-break + 1px) and (max-width: $mobile-break) {
			font-size: 4.5vw;
		}
		@media screen and (max-width: $micro-break) {
			font-size: 6vw;
		}
	}
}

.approach.panel-row-style {
	padding:88px 0;
	p {
		color:#000;
		line-height:155%;
		margin:0 auto 40px;
		max-width:480px;
	}
	.panel-grid-cell:first-child {
		position:relative;
		&:after {
			background:#ededed;
			bottom:0; content:"";
			display:block;
			position:absolute;
			right:-1.5px; top:0;
			width:3px;
		}
	}


}

.pullquote.panel-row-style {
	background:#c8e4e8;
	margin:0 0 20px;
	padding:6% 10% 3%;
	position:relative;
	@media screen and (max-width:959px){
		padding-top:12%;
	}
	.credit.panel-widget-style {
		display:block;
		left:10%;
		position:absolute;
		top:-21px;
		p {
			color:#4b848e;
			display:inline-block;
			font-size:13px;
			letter-spacing:2px;
			line-height:100%;
			margin:0;
			text-transform:uppercase;
			vertical-align:middle;
			img {
				border:2px solid #68c4d5;
				border-radius:50%;
				display:inline-block;
				margin:-15px 20px 0 0;
			}
		}
	}
	.quote.panel-widget-style {
		position:relative;
		&:before {
			background:url('../_img/icon-quote.png') center center / contain no-repeat;
			content:"";
			display:block;
			height:36px;
			left:-63px;
			position:absolute;
			top:0;
			width:40px;
		}
		p {
			color:#4b848e;
			font-size:33px;
			font-weight:200;
			line-height:148%;
			margin:0 0 50px;
			@media screen and (max-width:959px){
				font-size:24px;
			}
			strong {
				color:#000;
				font-weight:200;
			}
		}
	}
}
.widget_ann_casestudy_widget ul li, .large-quote {
	@include background-image(linear-gradient(130deg, $cool-blue 0%, $cool-blue-dark 90%));
	box-shadow:0 30px 50px -50px rgba(17, 18, 20, .45);
	list-style:none;
	margin:0 0 20px;
	padding:0 10% 3vw;
	position:relative;
}
.large-quote {
	padding:4vw 10% 3vw;
	@include drop-shadow(0, 9.85vw, 9.2vw, -9.2vw, #111214, .34);
	margin-bottom: 3vw;
	&:before {
		background:url('../_img/icon-quote.png') center center / contain no-repeat;
		position:absolute;
		content:"";
		display:block;
		height:3.6vw;
		width:4vw;
		left:10%;
		top:4vw;
		@include transform(translate(-135%, 100%));
	}
	p {
		font-weight: 300;
		font-size: 2.2vw;
		line-height: 3.5vw;
	}
	h6 {
		font-size: 1.15vw;
		margin-top: 0;
		text-transform: uppercase;
		font-weight: 300;
		@include letter-space(.2vw);
		color: $blue-high;
	}
}
.medium-quote {
	@include drop-shadow(0, 4.85vw, 6.2vw, -4.2vw, #111214, .34);
	position: relative;
	border: 3px solid $mint-blue;
	text-align: center;
	padding: 2vw 3vw 1.5vw;
	margin: 5vw 0 0 auto;
	width: 80%;
	.single & {
		p {
			color: $mint-blue;
			@include letter-space(.2vw);
			font-size: 1.95vw;
			line-height: 3vw;
		}
		h6 {
			color: $green;
			font-weight: 900;
			text-transform: uppercase;
			font-size: 1vw;
			@include letter-space(.2vw);
		}
	}
	p {
		color: $mint-blue;
		@include letter-space(.2vw);
		font-size: 2vw;
		line-height: 3.2vw;
	}
	h6 {
		color: $green;
		font-weight: 900;
		text-transform: uppercase;
		font-size: 1.15vw;
	}
	&:before {
		position: absolute;
		top: 0;
		left: 50%;
		content: "";
		display: block;
		background: $bg-color url('../_img/blue-quote.svg') no-repeat center center;
		background-size: 60%;
		width: 3.25vw;
		height: 3.25vw;
		padding: 1.25vw;
		@include transform(translate(-50%, -65%));
	}
}
.blue-high {
	color: $blue-high;
}
.widget_ann_casestudy_widget {
	h3.widget-title {
		&:after {
			background:url('../_img/rule-diamond-gray.png') center center / 152px no-repeat;
			content:"";
			display:block;
			height:15px;
			margin:18px auto 0;
			width:152px;
		}
	}
	cite.casestudy-cite {
		display:block;
		font-style:normal;
		left:10%;
		top:0px;
		@media screen and (max-width: $micro-break) {
			left: 0;
		}
		span.credit {
			color:#77919c;
			display:inline-block;
			font-size:13px;
			letter-spacing:2px;
			line-height:100%;
			margin:0;
			text-transform:uppercase;
			vertical-align:middle;
			margin-top: -60px;
			@media screen and (max-width: $mobile-break) {
				font-size: 13px;
				line-height: 145%;
				margin-top: 15px;
			}
		}
		img {
			border:2px solid #68c4d5;
			border-radius:50%;
			display:inline-block;
			margin:0 20px 0 0;
			vertical-align:middle;
			@include transform(translateY(-50%));
			@media screen and (max-width: $mobile-break) {
				@include transform(translateY(0));
				margin: 0 auto;
				display: block;
			}
		}
	}
	ul {
		list-style:none;
		margin:0;
		padding:0;
		li {
			@media screen and (max-width: $micro-break) {
				padding-top: 5vw;
			}
			blockquote {
				margin:0;
				p {
					color:#4b848e;
					font-size:2.5vw;
					font-weight:200;
					line-height:148%;
					margin:0 0 50px;
					position:relative;
					@media screen and (max-width: $mobile-break) {
						font-size: 22px;
						line-height: 38px;
						margin-top: 30px;
					}
					@media screen and (min-width: $larger-break) {
						font-size: 32px;
					}
					&:before {
						background:url('../_img/icon-quote.png') center center / contain no-repeat;
						content:"";
						display:block;
						height:36px;
						left:-63px;
						position:absolute;
						top:0;
						width:40px;
						@media screen and (max-width: $mobile-break) {
							left: -8vw;
							width: 5vw;
							height: 5vw;
						}
					}
					&:after {
						position: absolute;
						background:url('../_img/icon-quote.png') center center / contain no-repeat;
						content:"";
						display: inline-block;
						height:36px;
						width:40px;
						padding-top: 10px;
						margin-left: 18px;
						@include transform(rotate(180deg));
						@media screen and (max-width: $mobile-break) {
							width: 5vw;
							height: 5vw;
						}
					}
					strong {
						color:#000;
						font-weight:200;
					}
				}
			}
			&.even {
				background:#2c3e46;
				cite {
					@include clear-float();
					img {
						float: right;
						@media screen and (max-width: $mobile-break) {
							float: none;
						}
					}
					span.credit {
						margin-top: 30px;
						float: right;
						margin-right: 20px;
						@media screen and (max-width: $mobile-break) {
							float: none;
							margin-right: 0;
							margin-top: 15px;
						}
					}
				}
				blockquote {
					p {
						color:#77919c;
						strong {
							color:#65c6d8;
						}
					}
					cite {
						left:auto;
						right:10%;
						span.credit {
							color:#4b848e;
						}
						img {
							margin:-15px 0 0 20px;
						}
					}
				}
			}
		}
	}
	p.cs_load {
		text-align:center;
		a {
			color:#1fb189;
			cursor:pointer;
			display:inline-block;
			font-size:13px;
			font-weight:900;
			line-height:100%;
			letter-spacing:2px;
			text-decoration:none;
			text-transform:uppercase;
			&:hover,
			&:active {text-decoration:underline; }
		}
	}
}
.bus-locations {
	p {
		font-size: 1.35vw;
		@media screen and (min-width: $larger-break) {
			font-size: 20px;
		}
		@media screen and (max-width: $mobile-break) {
			font-size: 16px
		}
	}
	.so-widget-sow-image {
		position: relative;
		padding-bottom: 5vw;
	}
}
.bus-locations {
	@media screen and (max-width: $mobile-break) {
		margin-bottom: 4vw;
	}
}
h3.widget-title {
	position: relative;
	font-weight: 900;
	letter-spacing: .3vw;
	text-transform: uppercase;
	.resource-library.panel-row-style & {
		color:#fff;
		font-size:2.5vw;
		letter-spacing:4px;
		line-height:100%;
		margin:0 0 2vw;
		@media screen and (min-width: $larger-break) {
			font-size: 31px;
		}
		@media screen and (max-width: $mobile-break) {
			margin-top: 40px;
			font-size: 22px;
			line-height: 135%;
			letter-spacing: 6px;
			margin-bottom: 25px;
		}
	}
	.bus-locations & {
		text-transform: uppercase;
		font-weight: 900;
		@include letter-space(.3vw);
		color: #2c3e46;
		text-align: center;
		margin-bottom: .65vw;
		font-size: 2.4vw;
		@media screen and (min-width: $larger-break) {
			font-size: 30px;
		}
		@media screen and (max-width: $mobile-break) {
			font-size: 26px;
			line-height: 28px;
		}
	}
	.bus-locations .so-widget-sow-image & {
		position: absolute;
		background: #83b3bb;
		color: #fff;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 1.1vw;
		left: 50%;
		bottom: 0;
		margin-top: 2vw;
		padding: .25vw 1.1vw;
		@include transform(translateX(-50%));
		@media screen and (min-width: $larger-break) {
			margin-top: 25px;
			font-size: 14px;
			padding: 3px 21px;
		}
		@media screen and (max-width: $mobile-break) {
			font-size: 13px;
			padding: 2px 13px;
		}
	}
	.text-img-col &, .small-header & {
		color: $blue-high;
		font-size: 1.2vw;
		line-height: 1.4vw;
		font-weight: 400;
		@media screen and (max-width: $mobile-break) {
			font-size: 13px;
			line-height: 15px;
			letter-spacing: 3px;
		}
	}
	.informed.panel-row-style &, .spec-header & {
		color:#000;
		margin:0 0 50px;
		text-align:center;
		&:after {
			background: url('../_img/rule-diamond-gray.png') center center / 152px no-repeat;
			content:"";
			display:block;
			height:15px;
			margin:18px auto 0;
			width:152px;
		}
		@media screen and (max-width: $mobile-break) {
			margin-top: 40px;
			font-size: 22px;
			line-height: 135%;
			letter-spacing: 6px;
			margin-bottom: 25px;
		}
	}
	.spec-header-white & {
		color:#fff;
		margin:0 0 50px;
		text-align:center;
		&:after {
			background: url('../_img/rule-diamond-white.png') center center / 152px no-repeat;
			content:"";
			display:block;
			height:15px;
			margin:18px auto 0;
			width:152px;
		}
		@media screen and (max-width: $mobile-break) {
			margin-top: 40px;
			font-size: 22px;
			line-height: 135%;
			letter-spacing: 6px;
			margin-bottom: 25px;
		}
	}
	.intro.panel-row-style & {
		color:#000;
		line-height:100%;
		margin:0 0 2.2vw;
		@media screen and (max-width: $mobile-break) {
			margin-top: 40px;
			font-size: 22px;
			line-height: 135%;
			letter-spacing: 6px;
			margin-bottom: 25px;
		}
	}
	.widget_ann_casestudy_widget & {
		color:#000;
		line-height:100%;
		margin:0 0 50px;
		text-align:center;
		@media screen and (max-width: $mobile-break) {
			margin-top: 40px;
			font-size: 22px;
			line-height: 135%;
			letter-spacing: 6px;
			margin-bottom: 25px;
		}
	}
	.intro.panel-row-title &, .resource-library.panel-row-style & {
		display: inline-block;
		padding-bottom: 20px;
		margin-bottom: 20px;
		@media screen and (max-width: $mobile-break) {
			margin-bottom: 5vw;
			font-size: 22px;
			line-height: 135%;
			letter-spacing: 6px;
		}
	}
	.intro.panel-row-title &, .resource-library.panel-row-style .panel-grid-cell:first-child & {
		@media screen and (max-width: $mobile-break) {
			margin-top: 40px;
			font-size: 22px;
			line-height: 135%;
			letter-spacing: 6px;
			margin-bottom: 25px;
		}
		&:after {
				background: url('../_img/rule-diamond-white.png') center center / 152px no-repeat;
				background-size: 100%;
				content:"";
				display: block;
				left: 50%;
				@include transform(translateX(-50%));
				bottom: -10px;
				position: absolute;
				width: 152px;
				height: 20px;
		}
	}
}
.red-grad-bg {
	@include background-image(linear-gradient(to bottom, #700e0f 0%, #760e0e 100%));
	* {
		color: white;
	}
	.textwidget{
		@media screen and (max-width: $mobile-break) {
			margin-bottom: 40px;
		}
	}
}
.green-bg {
	background: $green;
}
.green-grad {
		@include background-image(linear-gradient(145deg, $green-dark 0%, transparent 50%));
}
.informed.panel-row-style {
	@media screen and (max-width:600px){padding:6% 3% 5%; }
	background:#eeeded;
	padding:6% 6% 5%;
	ul.informed {
		display:block;
		list-style:none;
		margin:0;
		padding:0;
		text-align:center;
		width:100%;
		@include flex-group(center, inherit);
		li {
			margin:0 1.5%;
			vertical-align:top;
			width:30%;
			background: #fff;
			@include drop-shadow();
			@include transition-property(transform);
			@include transition-duration(.4s);
			&:hover,
				&:active {
					-webkit-transform: scale(0.98);
					-ms-transform: scale(0.98);
					transform: scale(0.98);
			}
			@media screen and (max-width:850px){
				margin:0 1.5% 3%;
				width:47%;
			}
			@media screen and (max-width:600px){
				margin:0 1.5% 30px;
				width:97%;
			}
			a {
				display:block;
				padding:0 0 26px;
				text-decoration:none;
				width:100%;

				.img {
					display:block;
					margin:0 0 40px;
					img {
						display:block;
						width:100%; }
				}
				.title {
					color:#000;
					display:block;
					font-size:20px;
					line-height:140%;
					margin:0 auto 30px;
					min-height:84px;
					max-width:80%; }
				.more {color:#1fb189;
				 display:block;
				 font-size:13px;
				 font-weight:900;
				 letter-spacing:2px;
				 line-height:100%;
				 margin:0 auto;
				 text-transform:uppercase;
				}
			}
		}
	}
}
.card.panel-widget-style {
	background-position:center top !important;
	background-size:100% !important;
	padding:0; position:relative;
	z-index:100;
	.textwidget {
		background:#dcf6fa;
		padding:11%;
		position:relative;
		text-align:center;
		p {
			color:#000;
			line-height:155%;
			margin:0 auto 40px;
		}
	}
}
.panel-row-style-cards {
	background: #dcf6fa;
	margin-top: 2vw;
	position: relative;
	@media screen and (min-width: 601px) {
		&:before {
			position: absolute;
			content: "";
			display: block;
			top: 0;
			background: white;
			width: 2vw;
			height: 100%;
			left: 50%;
			@include transform(translateX(-50%));
			z-index: 200;
		}
	}
	@media screen and (max-width: 600px) {
		border-left: 2vw solid white;
		border-right: 2vw solid white;
		border-bottom: 2vw solid white;
		margin-top: 0;
	}
	@include clear-float();
}
.card-panel.panel-row-style {
	&.blue {
		background:#dcf6fa;
		&:before {
			content: "";
    		display: inline-block;
    		vertical-align: middle;
    		height: 100%;
		}
		margin-bottom:20px;
		position:relative;
		@media screen and (max-width: $mobile-break) {
			margin-bottom: 0;
		}
		.panel-grid-cell {
			float: none !important;
			display: inline-block;
    		vertical-align: middle;
    		@media screen and (max-width: $mobile-break) {
    			width: 100% !important;
    		}
    		.widget_black_studio_tinymce {
    			margin: 0 8%;
    			@media screen and (max-width: $mobile-break) {
    				margin: 6% 12% !important;
    			}
   				h3.widget-title {
					font-size:13px;
					font-weight:900;
					letter-spacing:2px;
					margin:0;
				}
				ul, ol, dl {
					margin: 15px 0 0 10px;
				}
    		}
		}
	}
}
.card-img {
	.so-widget-sow-image {
		position: relative;
	}
	h3.widget-title {
		position: absolute;
		top: 50%;
		color: white;
		@include transform(translateY(calc(-50% - 22px)));
		text-align: center;
		line-height:100%;
		@media screen and (max-width: $mobile-break) {
			font-size: 4.4vw;
		}
	}
	.cards-full.panel-row-style & {
		.widget-title {
			@include transform(translateY(-50%));
		}
	}
}
.card-title {
	background-size: cover;
	position: relative;
	@media screen and (max-width: 600px) {
		border-top: 2vw solid white;
	}
	h3.widget-title {
		position: relative;
		color:#fff;
		letter-spacing: .4vw;
		padding: 14vw 0;
		text-align:center;
		text-transform:uppercase;
		margin-bottom: 0;
		@media screen and (max-width: 600px) {
			padding: 20vw 5vw;
			font-size: 6.5vw;
		}
		&:before {
			background:#dcf6fa;
			content:"";
			height:22px;
			left:0;
			position:absolute;
			right:calc(50% + 22px);
			bottom: 0;
		}
		&:after {
			border-color: transparent transparent transparent #dcf6fa;
			border-style: solid;
			border-width: 22px 0 0 22px;
			display:block;
			content:"";
			height:0;
			position:absolute;
			right:50%;
			bottom: 0;
			width:0;
		}
	}
	&:before {
		background:#dcf6fa;
		content:"";
		height:22px;
		left:calc(50% + 22px);
		position:absolute;
		right:0;
		bottom: 0;
	}
	&:after {
		border-color: transparent #dcf6fa transparent transparent;
		border-style: solid;
		border-width: 22px 22px 0 0;
		display:block;
		content:"";
		height:0;
		left:50%;
		position:absolute;
		right:0;
		bottom: 0;
		width:0;
	}
}
.cards-full.panel-row-style {
	position:relative;
	@media screen and (max-width: 600px) {
		border-left: 2vw solid white;
		border-right: 2vw solid white;
		border-bottom: 2vw solid white;
	}
	.panel-grid-cell:first-child {
		padding-right:0 !important;
	}
	.panel-grid-cell:last-child {
		padding-left:0 !important;
	}
	.card.panel-widget-style {
		background-size: cover !important;
		&:before {
			content: "";
			position: absolute;
			bottom: calc(50% + 22px);
    		height: auto;
    		left: calc(50% - 22px);
    		top: 0;
    		right: 100%;
    		z-index: 10000;
    		width: 22px;
    		display: block;
    		background: #dcf6fa;
    		@media screen and (max-width: 600px) {
    			display: none;
    		}
		}
		&:after {
			border-color: transparent #dcf6fa transparent transparent;
    		border-width: 0 22px 22px 0;
    		left: calc(50% - 22px);
    		right: 100%;
    		top: calc(50% - 22px);
    		border-style: solid;
    		display: block;
    		content: "";
    		height: 0;
    		position: absolute;
    		width: 0;
    		@media screen and (max-width: 600px) {
    			display: none;
    		}
		}
		h3.widget-title {
			position: absolute;;
			top:50%;
			width: 50%;
			color: #fff;
			left: 11px;
			margin-bottom: 0;
			text-align: center;
			@include transform(translate(-22px, -50%));
			@media screen and (max-width: 600px) {
				position: relative;
				width: 100%;
				@include transform(translate(0));
				right: 0;
				left: 0;
				padding: 20vw 5vw;
    			font-size: 6.5vw;
				&:before {
					background: #dcf6fa;
    				content: "";
    				height: 22px;
    				left: 0;
    				position: absolute;
    				right: calc(50% + 22px);
    				bottom: 0;
				}
				&:after {
					border-color: transparent transparent transparent #dcf6fa;
    				border-style: solid;
    				border-width: 22px 0 0 22px;
    				display: block;
    				content: "";
    				height: 0;
    				position: absolute;
    				right: 50%;
    				bottom: 0;
    				width: 0;
				}
			}
		}
		.textwidget {
			width: 50%;
			padding: 5.5%;
			@include transform(translateX(100%));
			&:before {
				bottom: 0;
    			height: auto;
    			left: -22px;
    			right: 100%;
    			top: calc(50% + 22px);
				background: #dcf6fa;
    			content: "";
    			position: absolute;
    			@media screen and (max-width: 600px) {
    				content: "";
    				height: 22px;
    				left: calc(50% + 22px);
    				right: 0;
    				bottom: 0;
    				top: -22px;
    			}
			}
			@media screen and (max-width:600px) {
				width: 100%;
				padding: 11%;
				@include transform(translateX(0));
			}
			&:after {
				border-color: transparent transparent #dcf6fa transparent;
    			border-width: 0 0 22px 22px;
    			left: -22px;
    			right: 100%;
    			top: 50%;
    			border-style: solid;
    			display: block;
    			content: "";
    			height: 0;
    			position: absolute;
    			width: 0;
    			@media screen and (max-width: 600px) {
    				top: -22px;
    				left: 50%;
    			}
			}
		}
	}
}
@for $i from 1 through 100 {
  .width-#{$i} {
  	width: #{$i}#{'%'};
  	margin: 4vw auto;
  	background: $bg-color;
  	padding: 0 4vw;
  	/*> .panel-grid-cell {
  		padding: 3vw;
  	}*/
  }
}
@for $i from 1 through 100 {
	.#{mar-top}-#{$i} {
		margin-top: #{$i}vw;
		@media screen and (min-width: $x-large-break + 1px) {
			marging-top: #{$i * 8}px;
		}
	}
	.#{mar-bttm}-#{$i} {
		margin-bottom: #{$i}vw;
		@media screen and (min-width: $x-large-break + 1px) {
			marging-bottom: #{$i * 8}px;
		}
	}
	.#{mar-left}-#{$i} {
		margin-left: #{$i}vw;
	}
	.#{mar-right}-#{$i} {
		margin-right: #{$i}vw;
	}
	.#{mar-top-px}-#{$i} {
		margin-top: #{$i}px;
	}
	.#{mar-bttm-px}-#{$i} {
		margin-bottom: #{$i}px;
	}
	.#{mar-left-px}-#{$i} {
		margin-left: #{$i}px;
	}
	.#{mar-right-px}-#{$i} {
		margin-right: #{$i}px;
	}
	.#{pad-top}-#{$i} {
		padding-top: #{$i}vw;
		@media screen and (min-width: $x-large-break + 1px) {
			padding-top: #{$i * 8}px;
		}
	}
	.#{pad-bttm}-#{$i} {
		padding-bottom: #{$i}vw;
		@media screen and (min-width: $x-large-break + 1px) {
			padding-bottom: #{$i * 8}px;
		}
	}
	.#{pad-left}-#{$i} {
		padding-left: #{$i}vw;
	}
	.#{pad-right}-#{$i} {
		padding-right: #{$i}vw;
	}
}
.full-width.panel-row-style {
	.single & {
		width: 100%;
		margin: 0 auto;
	}
	img {
		width: 100%;
		margin: 0 auto;
	}
}
.panel-grid {
	.single & {
		/*margin: 0 17.5% 0 12.5%;*/
	}
}
.bg-text-over {
	padding: 2vw 8vw 6vw;
	margin-bottom: 20px;
	* {
		font-family: $main-font;
		font-weight: 300;
	}
	&:before {
		content: "";
		display: block;
		position: relative;
		width: 15%;
		height: 3vw;
		margin: 0 auto;
		background: url('../_img/diamond-line-01.svg') no-repeat center center;
	}
}
.concise-text {
	* {
		font-family: $main-font;
		font-weight: 300;
	}
}
.request-form {
	background: #D2E6EA;
	padding: 8vw 18vw 6vw;
	&.req-green {
		@include background-image(linear-gradient(145deg, $green 0%, $green-dark 75%));
		h3.widget-title {
			color: #eaeaea;
		}
	}
	@media screen and (max-width: $mobile-break) {
		padding: 4vw 8vw 4vw;
	}
	.textwidget {
		background: white;
		@include drop-shadow();
		padding: 2vw 4vw;
		p {
			text-align: center;
			&:first-of-type {
				margin: 5vw 0;
				font-weight: 700;
			}
		}
	}
	h3.widget-title {
		text-align: center;
		color: black;
		margin-bottom: 6vw;
		@media screen and (max-width: $mobile-break) {
			margin-top: 40px;
		}
	}
}
.text-img-col {
	> .panel-grid-cell {
		padding: 4vw 0 2vw 4vw;
		&:last-child {
			.widget_black-studio-tinymce {
				padding-right: 4vw;
			}
		}
	}
	.sow-image-container {
		.so-widget-image {
			width: 100%;
		}
	}
}
.grey-bg {
	background: #eeeeee;
}
.align-center {
	text-align: center;
}
.circle-image {
	img {
		border-radius: 100%;
		margin: 0 auto;
		max-width: 85% !important;
	}
}
.locations {
	.so-widget-sow-editor {
		position: relative;
	}
	.widget-title {
		position: absolute;
		background: #94bbc2;
		color: white;
		left: 50%;
		@include transform(translateX(-50%));
		font-size: 1.8vw;
		font-family: $main-font;
		font-weight: 300;
		@include letter-space(.3vw);
	}
}
.title-spec {
	text-align: center;
	color: black;
	.green-bg & {
		color: white;
		&:after {
			background: url("../_img/rule-diamond-white.png") center center/152px no-repeat;
		}
	}
	&:after {
		background: url("../_img/rule-diamond-gray.png") center center/152px no-repeat;
    	content: "";
    	display: block;
    	height: 15px;
    	margin: 18px auto 0;
    	width: 152px;
	}
}
.page-preview {
	position: relative;
	color: $bg-color;
	@include background-image(linear-gradient(to bottom, $green-dark 0%, $green 100%));
	margin-bottom: 20px;
	padding: 2.5vw 0 1vw;
	@media screen and (max-width: $small-break) {
		margin-bottom: 3vw;
		margin-left: 3vw;
		margin-right: 3vw;
	}
	&:before {
		content: '';
  		display: inline-block;
  		height: 100%;
  		vertical-align: middle;
  		margin-right: -0.25em; /* Adjusts for spacing */
	}
	.ow-button-hover {
		max-width: 70%;
		margin: 0 auto;
		display: block !important;
	}
	h3.widget-title {
		display: inline-block;
		font-size: 2.4vw;
		margin-bottom: 0;
		@include letter-space(.7vw);
		@media screen and (min-width: $mobile-break + 1px) {
			@include part-border(60%, bottom, 1vw, 2px);
		}
		@media screen and (max-width: $small-break) {
			display: block;
			text-align: center;
			font-size: 5.5vw;
			margin-bottom: 5vw;
		}
	}
	.textwidget {
		@media screen and (max-width: $small-break) {
			display: none;
		}
	}
	* {
		color: $bg-color;
	}
	.panel-grid-cell {
		float: none !important;
		display: inline-block;
  		vertical-align: middle;
  		width: 100%;
  		@media screen and (max-width: $small-break) {
  			display: block;
  		}
	}
	.so-widget-sow-button {
		@media screen and (max-width: $small-break) {
			margin-bottom: 5vw;
		}
		.ow-button-base a.ow-button-hover {
			@media screen and (max-width: $small-break) {
				padding: 10px;
			}
		}
	}
	.sow-image-container {
		@media screen and (max-width: $small-break) {
			margin-bottom: 5vw;
		}
		img {
			max-width: 50% !important;
			margin: 0 auto;
			@media screen and (max-width: $small-break) {
				max-width: 100px !important;
				width: 15% !important;
			}
		}
	}
	p {
		line-height: 2.6vw;
	}
}

.marketo-gated-content.panel-widget-style {background:#fff; display:none; padding: 3vw 5vw; text-align:center; 	

}

