.special-img-stack {
	position: relative;
	.sow-image-container {
		padding: 2vw;
	}
	.center {
		@media screen and (min-width: $small-break + 1px) {
			position: absolute;
			top: 50%;
			@include transform(translateY(-50%));
		}
	}
}
.instagram-feed {
	text-align: center;
	margin: 8vw 0;
}
.row-images {
	.panel-grid-cell {
		@media screen and (max-width: $mobile-break) {
			width: 50% !important;
			float: left !important;
		}
		.so-widget-image {
			margin: 0 auto;
		}
		&:nth-of-type(odd) {
			@media screen and (max-width: $mobile-break) {
				clear: left;
			}
		}
	}
}
.watermark {
	position: relative;
	padding: 8vw 4vw;
	/*background: #3fc3b2 url("../_img/watercolor-sumiaos-animation-v6.png") no-repeat 0 0 / 14448px;*/
	@include background(linear-gradient(top, rgba(#40c5b4, 1) 0%, rgba(#40c5b4, 1) 50%, rgba(#40c5b4, 1) 100%));
	* {
		color: white;
		&:first-of-type {
			margin-top: 0;
		}
	}
	.panel-grid-cell {
		padding: 2vw 2vw;
	}
	.panel-grid-cell:first-of-type {
		&:after {
			content: "";
			display: block;
			left: 0;
			top: 0;
			position: absolute;
			width: 48.5%;
			height: 100%;
			opacity: 0;
			background: url("../_img/watercolor-sumiaos-animation-v6.png") no-repeat 0 0 / 1143vw; /* 14448px was the original */
			pointer-events: none;
			animation: bgReset .75s steps(23, start) infinite forwards;
			-moz-animation: bgReset .75s steps(23, end) 1 forwards;
			-webkit-animation: bgReset .75s steps(23, end) 1 forwards;
			@media screen and (max-width: $mobile-break) {
				width: 97%;
				background: url("../_img/watercolor-sumiaos-animation-v6.png") no-repeat 0 0 / 2286vw; /* 14448px was the original */
			}
		}
	}
	&.animate {
		.panel-grid-cell:first-of-type {
			&:after {
				animation: bgShift .75s steps(23, start) infinite forwards;
				-moz-animation: bgShift .75s steps(23, end) 1 forwards;
				-webkit-animation: bgShift .75s steps(23, end) 1 forwards;
			}
		}
	}
	&.revAnimate {
		.panel-grid-cell:first-of-type {
			&:after {
				opacity: 1;
				background: url("../_img/watercolor-sumiaos-animation-v6.png") no-repeat -1095.37vw 0 / 1143vw; /* 14448px was the original */
				animation: bgReset .75s steps(23, start) infinite forwards;
				-moz-animation: bgReset .75s steps(23, end) 1 forwards;
				-webkit-animation: bgReset .75s steps(23, end) 1 forwards;
				@media screen and (max-width: $mobile-break) {
					background: url("../_img/watercolor-sumiaos-animation-v6.png") no-repeat -2190.74vw 0 / 2286vw; /* 14448px was the original */
				}
			}
		}
	}
	&:before {
		content: "";
		display: block;
		left: 0;
		top: -1.8vw;
		position: absolute;
		width: 100%;
		padding-bottom: 1.886%;
		background: url("../_img/paint-top.png") no-repeat top left / 100%;
		background-repeat: repeat-x;
	}
}
h3.widget-title {
	position: relative;
	letter-spacing: .6vw;
	display: inline-block;
	text-transform: uppercase;
	@include part-border(55px, "bottom", 20px, 4px, $yellow, "center");
	.watermark & {
		text-align: right;
		color: white;
		font-size: 40px;
		line-height: 48px;
		@include part-border(55px, "bottom", 20px, 4px, $yellow, "right");
		@media screen and (max-width: $mobile-break) {
			font-size: 30px;
			line-height: 36px;
			text-align: left;
			@include part-border(55px, "bottom", 20px, 4px, $yellow, "left");
		}
	}
}
.sow-slider-base {
	max-height: 90vh;
	&:before {
		content: " ";
  		display: inline-block;
  		height: 100%;
  		width: 100%;
  		vertical-align: middle;
	}
}
.sow-slider-base > .sow-slider-base {
	display: inline-block;
	vertical-align: middle;
}
.sow-slider-base .sow-slide-nav a {
	color: #f0cc22 !important;
}
.sow-slider-base .sow-slide-nav {
	font-size: 35px !important;
}
.sow-slider-image-wrapper {
	max-width: 100% !important;
	img {
		width: 100%;
		height: auto;
	}
}
.sow-slider-pagination, .sow-slide-nav {
   display: block !important;
}
@for $i from 1 through 100 {
  .width-#{$i} {
  	width: #{$i}#{'%'};
  	margin: 4vw auto;
  	background: $bg-color;
  	padding: 0 4vw;
  	/*> .panel-grid-cell {
  		padding: 3vw;
  	}*/
  }
}
@for $i from 1 through 100 {
	.#{mar-top}-#{$i} {
		margin-top: #{$i}vw;
		@media screen and (min-width: $x-large-break + 1px) {
			marging-top: #{$i * 8}px;
		}
	}
	.#{mar-bttm}-#{$i} {
		margin-bottom: #{$i}vw;
		@media screen and (min-width: $x-large-break + 1px) {
			marging-bottom: #{$i * 8}px;
		}
	}
	.#{mar-left}-#{$i} {
		margin-left: #{$i}vw;
	}
	.#{mar-right}-#{$i} {
		margin-right: #{$i}vw;
	}
	.#{mar-top-px}-#{$i} {
		margin-top: #{$i}px;
	}
	.#{mar-bttm-px}-#{$i} {
		margin-bottom: #{$i}px;
	}
	.#{mar-left-px}-#{$i} {
		margin-left: #{$i}px;
	}
	.#{mar-right-px}-#{$i} {
		margin-right: #{$i}px;
	}
	.#{pad-top}-#{$i} {
		padding-top: #{$i}vw;
		@media screen and (min-width: $x-large-break + 1px) {
			padding-top: #{$i * 8}px;
		}
	}
	.#{pad-bttm}-#{$i} {
		padding-bottom: #{$i}vw;
		@media screen and (min-width: $x-large-break + 1px) {
			padding-bottom: #{$i * 8}px;
		}
	}
	.#{pad-left}-#{$i} {
		padding-left: #{$i}vw;
	}
	.#{pad-right}-#{$i} {
		padding-right: #{$i}vw;
	}
}
.full-width.panel-row-style {
	.single & {
		width: 100%;
		margin: 0 auto;
	}
	img {
		width: 100%;
		margin: 0 auto;
	}
}
.panel-grid {
	.single & {
		/*margin: 0 17.5% 0 12.5%;*/
	}
}